<mat-card>
  <mat-card-content>
    <div class="hearder">
      <h1>Courier Service</h1>
    </div>
    <img src="../../assets/images (1).jpg" />
    <br />
    <br />

    <div *ngIf='camefrom==0'>
  <form (ngSubmit)="onSubmit(form)" name="form" [formGroup]="form">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label> Pickup Address </mat-label>
      <input formControlName="pickupAddress" matInput required />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Drop Address </mat-label>
      <input formControlName="dropAddress" matInput required />
    </mat-form-field>

    <br />
    <br />
    <button mat-button color="primary">Next</button>
  </form>
  </div>

<div *ngIf='camefrom!=0'>
  <form (ngSubmit)="onSubmit(form1)" name="form" [formGroup]="form1">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label> Pickup Address </mat-label>
      <input formControlName="pickupAddress"  [(ngModel)]="pickupAddres" matInput required />
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Drop Address </mat-label>
      <input formControlName="dropAddress"     [(ngModel)]="dropAddres" matInput required />
    </mat-form-field>

    <br />
    <br />
    <button mat-button color="primary">Next</button>
  </form>
</div>
  </mat-card-content>
</mat-card>
