mat-card{
  max-width: 600px;
  margin:2em auto;
  text-align: center;
  max-height: 600px;
}
button{
  background-color: blue;
    color: white !important;
    margin: 2px;
}
img{
  text-align: center;
  width: 95%;

}
